

@media only screen and (min-width: 1158px) {
  .footer{
    padding: 100px 0;
  }
  .footer-container{
    align-items: baseline;
  }
}
.footer-container{
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  
}

@media only screen and (max-width: 767.98px) {
  .container-footer {
    margin-bottom: 72px;
  }
}

.container-footer {
  margin-right: 120px;
} 




@media only screen and (max-width: 767.98px) {
  .social-media-footer {
    margin-bottom: 72px;
  }
}


.footer-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  /* text-align: center; */
 
}






.footer-div-form {
 margin-left: 80px;
}
/* @media only screen and (min-width: 768px) {
  .footer-div-form {
    max-width: 453px;
    width: 100%;
  }
  */
 
.footer-form {
  display: flex;
  gap: 24px;
}
/* .footer-form{
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: center;
} */
/* .label-form{
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .label-form{
    max-width: 264px;
    
  }
} */

.input-form {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.input-form::placeholder {
  color: #fff;
}
.btn-form {
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.form-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 16px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  border-radius: 4px;
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  padding-top: 72px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-p {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.label-form {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.div-input {
  position: relative;
  margin-bottom: 8px;
}
.input-date {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  border-color: #4d5ae5;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-date:focus + .modal-svg-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-date:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
.comment-area {
  margin-bottom: 16px;
}
.modal-comment {
  outline: transparent;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.privacy {
  margin-bottom: 24px;
}
.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.privacy-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox-vector {
  fill: transparent;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin: 8px;
}
.checkbox-privacy {
  color: #4d5ae5;
  text-decoration: underline;
}
input:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-btn {
  display: block;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
